<form [formGroup]="formTemplate" (submit)="onSubmit(formTemplate.value)">
  <mat-card>
    <mat-card-title>
      <img [src]="imgSrc" width="350px" height="250px" (click)="fileUploader.click()">
    </mat-card-title>
    <mat-card-content>
      <input [hidden]="true" type="file" accept="image/*" class="form-control" #fileUploader formControlName="assetUrl"
             (change)="showPreview($event)">
      <mat-form-field appearance="fill">
        <mat-label>Name</mat-label>
        <input matInput formControlName="name" placeholder="Name">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Category</mat-label>
        <mat-select formControlName="category">
            <mat-option *ngFor="let category of assetCategories" [value]="category">
              {{category}}
            </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <div>
        <button mat-raised-button type="submit" class="btn btn-success btn-block float-right">Submit</button>
        <a mat-raised-button routerLink="/image/list" class="btn btn-primary btn-block float-right">Go To Gallery</a>
      </div>
    </mat-card-actions>
  </mat-card>
</form>
