<mat-sidenav-container (backdropClick)="backdropClick()" class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [opened]="showMenu === true"
      (keydown.escape)="backdropClick()">

    <button mat-raised-button color="accent"
      aria-label="Toggle sidenav"
      mat-icon-button
      (click)="clickMenuButton()"
      *ngIf="showMenu === true"
    >
      <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
    </button>
    <mat-nav-list>
      <a mat-list-item (click)="openDialog('contact-form')">Contact Us</a>
      <a mat-list-item (click)="openDialog('add-form')"> Add Asset</a>
      <a mat-list-item href="#">Link 3</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        mat-raised-button color="accent"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="clickMenuButton()"
        *ngIf="showMenu === false"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>o2o Gallery</span>
    </mat-toolbar>
    <!-- Add Content Here -->
  </mat-sidenav-content>
</mat-sidenav-container>
